<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Mysql Second Challenge Database Registration Page</title>
</head>
<body>
    <h1>Register Page</h1>

    <form action="/register/user" method="POST">
        <label for="name">User Name</label>
        <Input type="text" name="name" />

        <label for="email">User Email</label>
        <Input type="email" name="email" />

        <label for="password">User Password</label>
        <Input type="password" name="password" />

        <label for="age">User Age</label>
        <Input type="age" name="age" />

        <label for="location">User Location</label>
        <Input type="location" name="location" />

        <label for="salary">User Salary</label>
        <Input type="salary" name="salary" />

        <button type="submit">Register</button>
        
    </form>
</body>
</html>